@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--hero: #ffa552;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-hero: var(--hero);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-noto: var(--font-noto-sans);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}

header {
	position: sticky;
	z-index: 30;
	top: 0;
}

/* ---------- NAVBAR ---------- */
#nav {
	border-color: rgb(255, 165, 82);
	border-bottom-width: 2px;
	padding-left: 15px;
	padding-right: 15px;
}

#nav h3 {
	font-family: var(--font-inter), sans-serif;
}

#login_area {
	border: 2px;
	border-color: black;
}

#login_area button {
	background-color: rgb(255, 165, 82);
}

.nav__menu-bar {
	display: flex;

	flex-direction: column;
	row-gap: 6px;
	cursor: pointer;
}
.nav__menu-bar div {
	width: 40px;
	height: 4px;
	background-color: rgb(255, 165, 82);
	border-radius: 2px;
}
.nav__menu-list {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 90px;
	width: 288px;
	row-gap: 24px;
	right: -288px;
	padding: 24px 16px;
	transition: all 0.2s;
	min-height: calc(100vh);
	background-color: rgba(226, 226, 226, 0.9);
}
.nav__menu-list.active {
	right: 0;
}
.nav__link {
	font-size: 18px;
	position: relative;
	transition: all 0.2s;
}

.nav__link:hover {
	font-weight: bold;
}

.center {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.nav__menu-bar {
		display: none;
	}
	.nav__menu-list {
		position: unset;
		flex-direction: row;
		min-height: fit-content;
		width: fit-content;
		column-gap: 24px;
		align-items: center;
		background-color: transparent;
	}
	.nav__link::before {
		content: "";
		position: absolute;
		width: 0%;
		height: 6px;
		bottom: -16px;
		left: 0;
		background-color: black;
		transition: all 0.2s;
	}

	.nav__link:hover:before {
		width: 100%;
	}
}

#navbar_item {
	background: linear-gradient(currentColor 0 0) bottom left/
		var(--underline-width, 0%) 0.1em no-repeat;
	text-decoration: none;
	transition: background-size 0.5s;
}
#navbar_item:hover {
	--underline-width: 100%;
}

#navbar_text {
	font-family: var(--font-inter), sans-serif;
}


